* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: yellow;
  height: 2000px;
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 186px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 16px;
  line-height: 68px;
  text-align: center;
  background: var(--primary-color);
  border-radius: 14px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.heading {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #0d1111;
}

.heading.lv1 {
  font-size: 6.2rem;
  line-height: 1.16;
}

.heading.lv2 {
  font-size: 4.2rem;
  line-height: 1.33;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/* Header */
.header {
  background: #ffffff;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: 235px;
}

.nav ul {
  display: flex;
  gap: 39px;
}

.nav a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav a:hover {
  font-weight: 600;
}

.header .actions {
  margin-left: auto;
}

.header .sign-in-btn {
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.header .sign-up-btn {
  display: inline-block;
  margin-left: 24px;
  min-width: 108px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 15px 0;
}

/* Hero */
.hero {
  background-color: #ffffff;
  padding: 50px 0px 79px;
}

.hero .content-block {
  width: 46%;
}

.hero .body {
  display: flex;
  align-items: center;
}

.hero .hero-label {
  color: #767e7e;
  font-size: 14px;
  font-weight: 400;
}

.hero .heading.lv1 {
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16129; /* 116.129% */
}

.hero .desc {
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
  width: 374px;
}

.hero .hero_span {
  display: inline-block;
}

.hero .cta-group {
  margin-top: 52px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-block {
  margin-left: auto;
  position: relative;
  background: #e0f7f6;
}

.hero .hero-course {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  padding: 17px 25px;
}

.hero .hero-course::before {
  display: inline-block;
  content: "";
  width: 36px;
  height: 40px;
  background: #ff8282;
  border-radius: 5px;
  margin-right: 16px;
}

.hero .hero-course .label {
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.hero .hero-course::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 45px;
  left: 29px;
  width: 28px;
  height: 4px;
  background: #ffffff;
  border-radius: 4px;
}

.hero .hero-schedule {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 453px;
  left: -65px;
  background: #ffffff;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  padding: 16px 25px 23px;
}

.hero .hero-schedule .label {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.hero .hero-schedule .schedule-list-img {
  margin-top: 16px;
}

.hero .hero-schedule::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
  top: 103px;
  right: 49px;
}

.hero .hero-student {
  position: absolute;
  top: 500px;
  left: 324px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;

  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  padding: 17px 35px;
}

.hero .hero-student .hero-student__label {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.hero .hero-student .hero-student__list {
  margin-top: 8px;
  display: flex;
}

.hero .hero-student .hero-student__img {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  object-fit: cover;
}

.hero-student__img + .hero-student__img {
  margin-left: -7px;
}

.hero .hero-student .hero-student-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  background: #1ebfc1;
  border-radius: 50%;
  margin-left: -7px;
}

.hero .hero-student .hero-student-block__span {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
